<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hospitals Database</title>

    <link rel="stylesheet" href="database-styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  </head>

  <body>

<section class="top">
<h1>Hospitals</h1>
</section>


<section class="info">

  <h3>Enter hospitals into the database.</h3>

</section>




    <form class="" action="/addHospital" method="post">


      <input type="text" name="hname" placeholder="Name">
      <input type="text" name="haddress" placeholder="Address">
      <input type="text" name="hphone" placeholder="Contact Number">

<br> <br>
      <button type="submit" class="btn btn-primary" name="button">Submit</button>

    </form>

<br>


    <hr>

    <br>

    <form class="" action="/hospitalDB" method="post">
        <button type="Check Database" class="btn btn-primary" name="button">Check Database</button>
    </form>





  </body>
</html>
