

#home {
  height: 450px;
  //width: 100%;
  //background-color: #dbf6e9;
  padding: 100px 0 0;
  background-image: url("https://sta.codeforces.com/s/26060/images/snowflakes-background3.png");
}

.b-width {
  width: 200px;
}

.nav-font {
  font-family: 'Poppins', sans-serif;
}

.main-text h1 {
  margin-top: 20px;
  font-family: 'Abril Fatface', cursive;
  color: #21209c;
}

.font {
font-family: 'Abril Fatface', cursive;

}

@media screen and (max-width: 425px)
{
  .main-img {
    height: 50px;
    width: auto;
  }
}

.container {
  text-align: center;
  width: 100%
}

.main-img {
  height: 300px;
  width: auto;
}

.hosp-img {
  height: 400px;
  width: auto;
}

#news {
  //max-height: 200px;
  height: 50px;
  width: 100%;
  background-image: linear-gradient(#f37121, #fff, #fff, #206a5d);
  border-bottom: 0px;
  color: #0e49b5;

}

.message {
  font-size: 30px;
  font-weight: bold;
  bottom: 50px;
  position: relative;
}

/* #footer {
  height: 200px;
  background-color: #222831;
} */

.adminpage {
  width: 100%;
  height: 200px;
  text-align: center;
  background-color: #f7f7f7;
  margin: 0;
}



//footer
footer {
  background-color: #00334e;
  text-align: left;
}

.site-footer
{
  background-color: #222831;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}

.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
  text-decoration: none;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}


#features{
  margin: 2rem 0 0rem 0;
  text-align: center;
  background-color: #fff;
  position: relative;
  z-index: 1;
  height: 300px;
}

#features h3{
  font-size: 1.5rem;
  //font-family: Montserrat;
  color: #0779e4;
}

#features p{
  color: #8f8f8f;
  margin-bottom: 0.5rem;
  padding: 0 10%;
}

#features i{
  font-size: 3rem;
  color: #0779e4;
  margin-bottom: 1rem;
}

#features i:hover{
  color: #43d8c9;
}


#covid {
  background-color: #1f4068;
  height: 400px;
  //color: #f7f7f7;
}

#hospitals {
  //background-color: #bbe1fa;
  //height: 400px;
}

#help{
  //background-color: #bbe1fa;
  //color: #f7f7f7;
  height: 400px;
}

.admin {
  width: 100%;
  background-color: #bbe1fa;
  text-align: center;
  margin: 0;
}
